%admin-button {
	@extend %button;
	
	padding: 5px 10px 5px 10px;
	
	transition-property: background-color;
	transition-duration: 0.2s;
}

.edit-button {
	@extend %admin-button;
	
	background-color: #dc5e44;
	
	&:hover {
		background-color: #a2270d;
	}

	&:active {
		background-color: #821700;
	}
}

.delete-button {
	@extend %admin-button;
	
	background-color: #a2270d;
	
	&:hover {
		background-color: #000000;
	}
}

.management {
    ul {
        list-style: none;
    }

    li {
        margin-top: 10px;
        background-color: #ffffff;

        border-radius: 20px;
    }

    .article-management {
        margin-left: 25px;
        margin-right: 25px;

        p {
            @extend %article-content;

            max-height: 22px;

            padding-left: 0;

           text-overflow: ellipsis;

           white-space: nowrap;
           overflow: hidden;

            &::after {
                content: '...';
            }
        }

        .admin-buttons {
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
}