article {
	@extend %article;
	
	h1 {
		@extend %article-title;
	}

	p {
		@extend %article-content;

		//width: 96%;

        word-break: break-word;
	}

	img {
	    @extend %image;

		max-height: 500px;
	}

	h6 {
    	padding-left: 25px;

    	font-weight: normal;
        color: #333333;
    }
}
