$header-height: 50px;

$header-logo-scale: 90 / 100;
$header-logo-width: 60px;
$header-logo-height: 52px;

$header-logo-img-scale: 55 / 100;
$header-logo-img-width: 60px * $header-logo-img-scale;
$header-logo-img-height: 52px * $header-logo-img-scale;

$footer-height: 180px;

$footer-logo-img-scale: 65 / 100;
$footer-logo-width: 170px * $footer-logo-img-scale;
$footer-logo-img-height: 148px * $footer-logo-img-scale;
$footer-logo-height: $footer-logo-img-height + 5px + 22px;

%logo-title {
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: normal;
}

%image {
	width: 100%;

	border-radius: 15px 15px 0px 0px;
}

%button {
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;

	border: none;
	border-radius: 50px;

	cursor: pointer;
}

%article {
	height: 100%;

	margin-top: 10px;
	margin-bottom: 15px;

	background-color: #ffffff;

	border-radius: 20px;
}

%article-title {
	font-size: 26px;
	color: #dc5e44;
	text-align: center;
}

%article-content {
    padding: 0px 25px 0px 25px;

	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-align: left;
}

body {
    width: 100%;
    height: 100%;

	margin: 0;

	background-color: #e4e6ec;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #dc5e44;
	
	header {
	    height: $header-height;

	    margin: 0px 600px 10px 600px;

	    overflow: hidden;

	    #header-logo {
	        position: relative;
	        top: 15px;

		    .logo-img {
		        position: relative;
                top: 0;

                width: $header-logo-img-width;
                height: $header-logo-img-height;
		    }
	
		    .logo-title {
			    @extend %logo-title;

			    position: relative;
                top: -52px;
                left: $header-logo-img-width + 10px;
		    }
		}
	}

	#main-page {
        min-height: 800px;

	    margin: 0px 600px 0px 600px;

    	h2 {
    		font-size: 22px;
    	}
    }
	
	footer {
	    height: $footer-height;
	
		background-color: #dc5e44;

		overflow: hidden;

		#footer-logo {
		    position: relative;
		    top: calc(50% - $footer-logo-height / 2);
		    left: calc(50% - $footer-logo-width / 2);

		    .logo-img {
            		width: $footer-logo-width;
            		height: $footer-logo-img-height;
            }

            .logo-title {
                    @extend %logo-title;

                    position: relative;
                    top: 5px;

                    margin: 0;

                    color: #eeafa2;
            }
		}
	}
}

.main-button {
	padding: 15px 20px 15px 20px;

	background-color: #dc5e44;
	
	@extend %button;
	
	transition-property: background-color;
	transition-duration: 0.2s;
	
	&:hover {
		background-color: #a2270d;
	}
	
	&:active {
		background-color: #821700;
	}
}

a {
	color: inherit;
	text-decoration: inherit;
}