form {
	@extend %article;
	
	#article_title {
		@extend %article-title;
		
		margin-top: 26px;
		
		width: 99%;
		max-width: 100%;
		
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		
		border: none;
		
		&:focus {
			outline: none;
		}
	}
	
	#article_content {
		@extend %article-content;
		
		margin-top: 14px;
		
		width: 93%;

		font-family: 'Roboto', sans-serif;
		
		border: none;
		
		resize: none;

		overflow: hidden;
		word-wrap: break-word;
		
		&:focus {
			outline: none;
		}
	}

	label {
	    @extend .main-button;

	    position: relative;
	    top: 13px;

        cursor: pointer;
	}

	input[type="file"] {
        position: relative;
	    top: 25px;

	    cursor: pointer;
	}

	#article_cover::file-selector-button {
        visibility: hidden;
    }

	#article_save {
	    $publish-button-width: 20px + 60.25px + 20px;

	    position: relative;
	    left: calc(50% - $publish-button-width / 2);

	    margin-top: 15px;
	    margin-bottom: 5px;
	}
}
