@font-face {
	font-family: 'Roboto';
	font-weight: normal;

	src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: bold;

	src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Light';
	font-weight: normal;

	src: url('fonts/Roboto-Light.ttf') format('truetype');
}
