#banner {
    max-height: 200px;

	#banner-image {
	    width: 100%;
        max-height: 200px;

		border-radius: 20px;
		
		transform: rotate(0.5turn);
	}
	
	#banner-title {
	    position: relative;
	    top: -175px;
	    right: 15px;

	    width: 350px;

	    font-size: 30px;
	    font-weight: bold;
	    color: #ffffff;
	    text-align: right;
		text-transform: uppercase;
		line-height: 48px;
	}
	
	.orange-text {
		color: #dc5e44;
	}
}

.summaries {
    padding-bottom: 210px;
}

.article-summary {
    display: inline-block;

	width: 210px;
	height: 210px;

	margin-left: 10px;
	margin-bottom: 10px;

	background-color: #ffffff;
  
	font-size: 17px;
	
	border-radius: 15px;
	
	box-shadow: 0px 0px 0px #000000;
	
	//transition-property: box-shadow;
	//transition-duration: 0.3s;

	&:first-child {

	}

	&:hover {
		box-shadow: 2px 2px 2px #000000;
	}

	&:active {
		box-shadow: 1px 1px 1px #000000;
	}
	
	.summary-title {
		max-height: 62px;

		margin-left: 10px;

		overflow: hidden;
	}

	img {
		height: 60%;
	
		@extend %image;
	}
}
