@media screen and (max-width: 960px) {
    #main-page {
        margin: 0px 135px 0px 135px !important;
    }

    header {
        margin: 0px 135px 10px 135px !important;
    }

    #article_content {
		max-width: 85%;
	}
}
