{% extends 'base.html.twig' %}

{% block title %}SpaceBlog - Page d'administration{% endblock %}

{% block body %}

<section class="management">

<a href="/"><button class="main-button">Retour</button></a>

<h2>Page d'administration</h2>

<a href="admin/new"><button class="main-button">Créer un article</button></a>

<ul>
{% for article in articles %}
<li>
	<div class="article-management">
		<h3>{{ article.title }}</h3>
		<p>{{ article.content | raw }}</p>

		<div class="admin-buttons">
		<a href="admin/edit/{{ article.slug }}"><button class="edit-button">Editer</button></a>
		<a href="admin/delete/{{ article.slug }}"><button class="delete-button">Supprimer</button></a>
		</div>
	</div>
</li>
{% endfor %}
</ul>

</section>

{% endblock %}
