{% extends 'base.html.twig' %}

{% block title %}SpaceBlog - {{ article.title }}{% endblock %}

{% block body %}

<a href="/"><button class="main-button">Retour</button></a>

<article>
	<img src="/images/covers/{{ article.cover }}" alt="{{ article.title }}" />
	<h1>{{ article.title }}</h1>
	<p>{{ article.content | raw }}</p>
	<h6>Publié {{ article.creationDate }}</h6>
</article>

{% endblock %}
