<!DOCTYPE html>
<html lang="fr">
<head>
<title>{% block title %}SpaceBlog{% endblock %}</title>

{{ encore_entry_link_tags('app') }}
</head>

<body>

{% include 'header.html.twig' %}

<main id="main-page">
{% block body %}
{% endblock %}
</main>

{% include 'footer.html.twig' %}

<script>
{% block scripts %}

{{ encore_entry_link_tags('app') }}

{% endblock %}
</script>

</body>

</html>
