{% extends 'base.html.twig' %}

{% block title %}SpaceBlog - Editeur d'article{% endblock %}

{% block body %}

<a href="/admin"><button class="main-button">Retour</button></a>

{{ form(form) }}

{% endblock %}

{% block scripts %}

var article_content = document.getElementById('article_content');

article_content.style.height = article_content.scrollHeight + 'px';

article_content.addEventListener('keydown', function(e) {
	article_content.style.height = article_content.scrollHeight + 'px';
});

{% endblock %}
