{% extends 'base.html.twig' %}

{% block title %}SpaceBlog - Page d'accueil{% endblock %}

{% block body %}

<div id="banner">
	<img id="banner-image" src="{{ asset('images/spaceship.png') }}" alt="Spaceship" />
	<figcaption id="banner-title">Découvrez <span class="orange-text">l'espace</span> comme jamais auparavant</figcaption>
</div>

<h2>Nos articles</h2>
<section class="summaries">

{% for article in articles %}
<a href="article/{{ article.slug }}">
<div class="article-summary">
	<img src="/images/covers/{{ article.cover }}" alt="{{ article.title }}" />
	<div class="summary-title"><h3 class="article-title">{{ article.title }}</h3></div>
</div>
</a>
{% endfor %}
	
</section>

{% block scripts %}

<script>
</script>

{% endblock %}

{% endblock %}
